<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ldl.mapper.CommentMapper"><!--这个是-->
    <resultMap id="baseMap" type="CommentVo">
        <id column="cid" property="cid"/>
        <result column="class_id" property="class_id"/>
        <result column="openid" property="openid"/>
        <result column="commentDate" property="commentDate"/>
        <collection property="relyList"  javaType="arrayList" column="cid" ofType="relyVo" select="com.ldl.mapper.RelyMapper.selectRelysByCid"></collection>
    </resultMap>
    <insert id="insertComment">
        insert into tbl_comment(openid,class_id,commentDate,content) value (#{openId},#{class_id},#{commentDate},#{content})
    </insert>
    <select id="getCommentVoByClass_id" resultMap="baseMap">
            select   `c`.cid,
                     `c`.openid,
                     `c`.class_id,
                     `c`.commentDate,
                     `c`.content,
                     u.faceImg,
                     u.nickName
            from tbl_comment `c` left join `user` u on `c`.openid = u.openid where `c`.class_id = #{class_id}
            order by
                `c`.commentDate;
    </select>
</mapper>