<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ldl.mapper.CommentMapper"><!--这个是-->
    <resultMap id="baseMap" type="CommentVo">
        <id column="cid" property="cid"/>
        <result column="uid" property="uid"/>
        <result column="vid" property="vid"/>
        <result column="commentDate" property="commentDate"/>
        <collection property="relyList"  javaType="arrayList" column="cid" ofType="relyVo" select="com.ldl.mapper.RelyMapper.selectRelysByCid"></collection>
    </resultMap>
    <insert id="insertComment">
        insert into comment(uid,vid,commentDate,content) value (#{uid},#{vid},#{commentDate},#{content})
    </insert>
    <select id="getCommentVoByVid" resultMap="baseMap">
            select   `c`.cid,
                     `c`.uid,
                     `c`.vid,
                     `c`.commentDate,
                     `c`.content,
                     u.faceImg,
                     u.nickName
            from comment `c` left join `user` u on `c`.uid = u.id where `c`.vid = #{vid}
            order by
                `c`.commentDate;
    </select>
</mapper>