<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ldl.mapper.FeedBackMapper"><!--这个是-->
    <insert id="insertFeedBack">
        insert into tbl_user_feedback(openid,create_time,content,isLook) value(#{openid},#{create_time},#{content},#{isLook})
    </insert>
</mapper>