<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ldl.mapper.RelyMapper"><!--这个是-->

    
    <insert id="insertRely">
        insert into tbl_rely(openid,cid,relyDate,content) value (#{openId},#{cid},#{relyDate},#{content})
    </insert>
    <select id="selectRelysByCid" resultType="RelyVo">
        SELECT
                          r.`openid`,
                          r.`cid`,
                          r.relyDate,
                          r.content,
                          u.faceImg,
                          u.nickName
        FROM tbl_rely r LEFT JOIN `user` u ON r.openid = u.openid WHERE r.cid = #{cid}
        ORDER BY
            `r`.relyDate
    </select>


</mapper>