<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ldl.mapper.UserMapper">

    <resultMap id="PreviousAdminClass" type="com.ldl.bean.VO.PreviousAdminClass">
        <id property="adminClass_id" column="adminClass_id"/>
        <result property="a_title" column="a_title"/>
        <result property="uploadDate" column="uploadDate"/>
        <result property="isComplete" column="openid"/>
    </resultMap>
    <resultMap id="CompleteUser" type="com.ldl.bean.VO.CompleteUser">
        <result property="completeDate" column="completeDate"/>
        <association property="user" select="com.ldl.mapper.UserMapper.selectUserByOpenId" column="openid" javaType="user"/>
    </resultMap>
    <insert id="register" parameterType="com.ldl.bean.User">
        insert into user(openid,nickName,faceImg,registerTime)
        values (#{openid},#{nickName},#{faceImg},#{registerTime})
    </insert>

    <update id="updateUser">
        UPDATE `user` SET ${field}=#{value} WHERE openid=#{openid}
    </update>
    <update id="updateFaceImgAndNickName">
        UPDATE `user` SET faceImg=#{faceImg},nickName=#{nickName} WHERE openid=#{openid}
    </update>
    <select id="login" resultType="com.ldl.bean.User">
        select * from user where openid=#{openid}
    </select>
    <select id="getAllUsers" resultType="com.ldl.bean.User">
        select * from user
    </select>
    <select id="selectUserByUid" resultType="com.ldl.bean.User">
        select * from user where id = #{uid}
    </select>
    <select id="selectUserByOpenId" resultType="com.ldl.bean.User">
        select * from `user` where openid = #{openId}
    </select>

    <select id="selectConcernUserByOpenId" resultType="User">
        select id,openid,nickName,faceImg from `user` where openid in (select buid from concern where uid = #{openid})
    </select>
    <select id="selectConcernMeUserByOpenId" resultType="com.ldl.bean.User">
        select id,openid,nickName,faceImg from `user` where openid in (select openid from concern where buid = #{openid})
    </select>
    <select id="selectAllNum" resultType="com.ldl.bean.VO.AllNum">
        SELECT t1.starNum,t2.classNum,t3.concernNum
        FROM
                (SELECT COUNT(*) starNum FROM tbl_starclass WHERE openId = #{openId}) t1,
                (SELECT COUNT(*) classNum FROM `class` WHERE openid = #{openId}) t2,
                (SELECT COUNT(*) concernNum FROM concern WHERE uid = #{openId}) t3;
    </select>
    <select id="selectUserVoByOpenId" resultType="com.ldl.bean.VO.UserVo">
        select openid,faceImg,nickName,signature,address,sex,birth,constellation from `user` where openid = #{openId}
    </select>
    <select id="getNewUserCountOfDay" resultType="int">
        SELECT COUNT(*) FROM USER WHERE registerTime LIKE #{registerTime}
    </select>
    <select id="getTotalCountOfUser" resultType="int">
        SELECT COUNT(*) FROM USER
    </select>
    <insert id="completeAdminClass">
        insert into adminClass_complete(adminClass_id,openid,completeDate) values (#{adminClass_id},#{openid},#{completeDate})
    </insert>
    <select id="getCompleteAdminClassCondition" resultType="String">
        select openid from adminClass_complete where adminClass_id=#{adminClass_id} and openid=#{openid}
    </select>
    <select id="getPreviousAdminClass" resultMap="PreviousAdminClass">
        SELECT a.adminClass_id,a.a_title,a.uploadDate,ac.openid
        FROM adminClass a
        LEFT OUTER JOIN adminClass_complete ac
        ON a.adminClass_id=ac.adminClass_id
        AND ac.openid=#{openid}
        ORDER BY uploadDate DESC
    </select>
    <update id="updateRoleAsTeacher">
        UPDATE USER SET role=1 WHERE  openid=( SELECT openid FROM `teacher_authentication` WHERE aid=#{aid})
    </update>
    <select id="selectCompleteUser" resultMap="CompleteUser">
         SELECT openid,completeDate FROM adminClass_complete WHERE adminClass_id=#{adminClass_id}
    </select>
</mapper>