<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ldl.mapper.VideoMapper">

    <resultMap id="Vo" type="VideoVo">
        <id column="vid" property="vid"/>
        <result column="title" property="title"/>
        <result column="author_openid" property="author_openid"/>
        <result column="video_address" property="video_address"/>
        <result column="uploadDate" property="uploadDate"/>
        <association property="ppt" javaType="ppt" column="pid" select="com.ldl.mapper.PPTMapper.selectPPTByPid"/>
        <association property="user" javaType="User" column="uid" select="com.ldl.mapper.UserMapper.selectUserByUid"/>
    </resultMap>

    <insert id="uploadVideo" parameterType="com.ldl.bean.Video">
        insert into `video`(title,video_address,uploadDate,uid,summary)
        values (#{title},#{video_address},#{uploadDate},#{uid},#{summary})
    </insert>

    <insert id="insertConcern">
        insert into concern(uid,buid) value (#{uid},#{buid})
    </insert>

    <delete id="deleteConcern">
        delete from concern where uid = #{uid} and buid = #{buid}
    </delete>


    <select id="selectVideo" resultMap="Vo">
        select * from video where vid = #{vid};
    </select>


    <select id="selectConcernBy" resultType="Concern">
        select * from concern where uid = #{uid} and buid = #{buid}
    </select>

    <select id="selectVideoByCid" resultType="Vedio0">
        select vid,video from class_video where class_id = #{c_title}
    </select>

    <select id="selectMusicByCid" resultType="java.lang.String">
        select music from class_music where class_id =#{c_title}
    </select>

    <select id="selectPictureByCid" resultType="java.lang.String">
        select picture from class_picture where class_id = #{c_title}
    </select>


</mapper>